.modal-fail,.modal-success,
.modal-confirm-profile,
.modal-delete,
.modal-confirm-update-cv,
.modal-confirm-create-cv,
.modal-confirm{
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .modal-content{
        margin: auto;
        display: flex;
        justify-content: center;
        width: 400px;
        height: 300px;
        .box-modal-action{
            .btn {
                color: #fff;
                width:120px;
                margin: 20px;
              }
        }
    }
}